################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages/hidlibrary.3.2.46.0
/obj
/bin/Debug
/.vs
